<!doctype html>
<html>
   <body>
      
    <h1>Admin</h1><br>
      <table border = 1>
         <th> {{ "username" }}</th>
         <th> {{ "email" }}</th>
         <th> {{ "password" }}</th>
         <th> {{ "city" }}</th>
         <th> {{ "creationtimestamp" }}</th>
         {% for i in admin %}
            <tr>
               <td> {{ i.username}} </td>
               <td> {{ i.email }}</td>
               <td> {{ i.pwd }}</td>
               <td> {{ i.city }}</td>
                <td> {{ i.creationtimestamp }}</td>
            </tr>
         {% endfor %}
      </table>
   </body>
</html>
